In [1]:
print('Hello Python GCIT world!')

Hello Python GCIT world!

In [2]:
message = "Hello Python world!"
print(message)

Hello Python world!

# Multiline_String

In [8]:
multiline_string = '''Myself_Abhyuday
preparing my kernel for '\\'
python_training.
'''

In [9]:
print(multiline_string)

Myself_Abhyuday
preparing my kernel for '\'
python_training.

# Changing case of text

In [11]:
first_name = 'Abhi'

print(first_name)
print(first_name.title())
print(first_name.upper())
print(first_name.lower())

Abhi
Abhi
ABHI
abhi

# Concatenation of string

In [12]:
first_name = 'Abhyuday'
last_name = 'suraparaju'
full_name = first_name + ' ' + last_name

message = full_name.title() + ' ' + \
        "was performing programming for data engieering at GCIT."

print(message)

Abhyuday Suraparaju was performing programming for data engieering at GCIT.

In [13]:
string_template = 'The result of the calculation of {calc} is {res}'
print("String Template: ", string_template)

print(string_template.format(calc='(3*4)+2', res=(3*4)+2))

String Template:  The result of the calculation of {calc} is {res}
The result of the calculation of (3*4)+2 is 14

# WhiteSpace

In [14]:
print("Hello \teveryone!") # \t makes tab appear in string

Hello 	everyone!

In [15]:
print("\n\n\nHello everyone!") # \n uses new-line appear in string

Hello everyone!

In [16]:
name = ' ericcson '

print('-' + name.lstrip() + '*') # strip white space on left side
print('-' + name.rstrip() + '*') # strip white space on right side
print('-' + name.strip() + '*') # strip space on both sides

-ericcson *
- ericcson*
-ericcson*

# Integers

In [17]:
my_order = (2+3)*4
print(my_order)

20

# Floating-Numbers

In [18]:
print(3*0.1)

0.30000000000000004

In [20]:
# Test
3 * 0.1 != 0.3

True

In [21]:
from decimal import Decimal, getcontext

In [22]:
getcontext().prec = 2
result = 3 * Decimal(0.1)
print(type(result))
print(3 * Decimal(0.1))
print(3 * 0.1)

<class 'decimal.Decimal'>
0.30
0.30000000000000004

In [23]:
result = (3*4)+2
print('The result of the calculation of (3*4)+2', result, sep=' = ')

The result of the calculation of (3*4)+2 = 14